@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.videosection {
    height: 550px;
    width: 100%;
    position: relative;
}

.myvideo {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: fill;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

.logo img {
    max-width: 550px;
    height: auto;
}

.d-grid {
    display: grid;
    grid-template-columns: 900px 200px;
    justify-content: space-between;
}

.main-nav .nav-yellow {
    background-color: #fb3;
}

.main-nav .nav-top {
    height: 65px;
}

.min-content {
    height: min-content;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
    width: 150px;
    background-color: #fb3;
    color: black;
    padding: 10px;
    top: 68px;
    left: 0;
    position: absolute;
}

.submenu li a {
    width: 100%;
    display: inline-block;
    padding: 5px 10px;
}

.submenu li:hover a {
    color: white !important;
}

.submenu li {
    list-style: none;
}

.main-nav .nav-top .nav-left ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
}

.main-nav .nav-top .nav-left>ul>li {
    display: table-cell;
    padding: 16px 7px;
    position: relative;
}

.main-nav .nav-top .nav-left ul a {
    text-decoration: none;
    color: black;
}

.main-nav .nav-top .nav-left li img {
    width: 40px;
    vertical-align: middle;
}

.main-nav .nav-top .nav-left li span {
    color: red;
    font-size: 10px;
    padding-left: 8px;
}

.main-nav .nav-top .nav-left ul li:hover {
    background-color: black;
}

.main-nav .nav-top .nav-left>ul>li:hover>a {
    color: #fff;
}

.main-nav .nav-top .nav-left li.active a {
    color: #fff;
}

.main-nav .nav-top .nav-left li.active {
    background-color: black;
}

.main-nav .nav-top .nav-right a {
    color: black;
    text-decoration: none;
}

.main-nav .nav-top .nav-right a:hover {
    color: #007bff;
}

.nav-top .nav-right {
    padding: 19px;
}

.nav-top .nav-right span {
    margin-right: 15px;
}

.main-nav .nav-bottom {
    background-color: #e2e4e2;
    padding: 15px;
}

.main-nav .nav-bottom ul li {
    display: inline;
    padding-right: 20px;
}

.main-nav .nav-bottom ul a {
    text-decoration: none;
    color: black;
}

.main-nav .nav-bottom li.active {
    background-color: #f2f2f2;
    padding: 13px;
}

.main-nav .nav-bottom a:hover li.active {
    background-color: #f2f2f2;
    color: black;
}

.main-nav .nav-bottom ul a:hover {
    color: #007bff;
    text-decoration-line: #007bff;
}

.txt-center {
    text-align: center;
}

.m-15 {
    margin: 15px;
}

.p-15 {
    padding: 15px;
}

.mt-5 {
    margin-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.box-sh {
    box-shadow: 2px 2px 7px rgb(68, 66, 66);
}

.d-rowgrid {
    display: grid;
    grid-template-rows: auto auto auto;
}

.grid-rowbox .row-box1, .grid-rowbox .row-box2, .grid-rowbox .row-box3 {
    background-color: #fff;
    box-shadow: 0px 0px 6px black;
    margin-top: 20px;
    text-align: center;
    color: #4c4c4e;
}

.grid-rowbox h1 {
    font-size: 50px;
    padding: 20px 50px 0px 50px;
}

.grid-rowbox h5 {
    font-size: 20px;
    padding: 0px 0px 20px 0px;
}

.sec-76 h3 {
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
}

.sec-76 h5 {
    font-size: 25px;
    text-align: center;
}

.sec-76 p {
    font-size: 23px;
    text-align: center;
}

.d-colgrid1 {
    display: grid;
    grid-template-columns: 230px 1180px;
    justify-content: space-between;
}
.d-colgrid2 {
    display: grid;
    grid-template-columns: 880px 300px;
    justify-content: space-between;
}

.dg-row9 {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.left-grid-box h4 {
    font-size: 20px;
}
.p-0{
    padding: 0 !important;
}
.left-grid-box p {
    font-size: 20px;
}

.left-grid-box hr {
    margin-bottom: 10px;
}

button {
    background-color: #fb3;
    color: #fff;
    padding: 3px 10px;
    border-radius: 50px;
    font-weight: bold;
    border: 3px solid #fb3;
    margin-bottom: 10px;
}

.dg-col3 {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.middle-grid-box p {
    font-size: 20px;
}

.middle-grid-box .container-wrapper {
    padding: 20px;
    justify-content: space-between;
    grid-column-gap: 50px;
}

.middle-grid-box .common-title {
    font-size: 20px;
    text-align: center;
    padding: 15px 0px;
}

.middle-grid-box .container-wrapper .p-colour {
    color: #4c4c4e;
    font-size: 17px;
    padding: 5px 0px;
}

.middle-grid-box .btn {
    text-align: center;
}

.right-grid-box p {
    font-size: 20px;
}

.right-grid-box .common-phrase {
    font-size: 20px;
    text-align: left;
    padding: 15px 30px;
}

.right-grid-box hr {
    width: 90%;
    margin: 10px;
}

.zoom-on-hover{
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
}

.zoom-on-hover:hover img{
    transform: scale(1.5);
    transition: 1s;

}
.news-post p{
    font-size: 25px;
    margin: 20px; 0px
    } 
    .news-post p a{
        color: black;
        text-decoration: none;
    }
    .news-post p a:hover,.news-post h1 a:hover{
        color: #007bff;
    }
.news-post h1 a{
    font-size: 50px;
    color: #4c4c4e;
    text-decoration: none;
   }
   
   .d-grid4{
       display: grid;
       grid-template-columns: auto auto auto auto;
       column-gap: 30px;
   }
   .d-grid3{
    display: grid;
    grid-template-columns: 300px 800px 300px;
    column-gap: 100px;
}
.footer-top{
    background-color: black;
    color: #fb3;
        }

.footer-top h3{
display: inline-block;
border-bottom: 3px solid #fb3;
margin-bottom: 20px;
}

.d-grid-ficon{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    column-gap: 15px;
    font-size: 33px;
}
.py-84{
    padding-top: 84px;
    padding-bottom: 84px;
}
.footer-top .f-right span{
    padding-right: 10px;
}

.footer-buttom{
    background-color: #fb3;
    color: black;
} 
.footer-buttom span{
    font-weight: bolder;
}
.footer-buttom p{font-size: 18px;}